/* del */

#btnDel{
    /* margin-left:  500px;; */
    border-radius: 20px;
    border-color: green;
}


#btnLoa{
    
    border-radius: 20px;
    border-color: blue;
}

 hr {
    width:70%; 
    height:2px; 
    background-color:rgb(11, 9, 12)
    

 }